* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  }
  
  html {
    font-size: 100%;
  }
  body,
  html {
    font-family: "Montserrat", sans-serif;
    background: var(--bg-color);
    color: var(--font-color);
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
    color: var(--heading-color);
    font-family: "Montserrat", sans-serif;
  }
  p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 28px;
    color: var(--font-color);
    letter-spacing: 0.4px;
  }
  
  body a,
  button,
  .btn {
    cursor: pointer !important;
  }
  
  a,
  a:hover,
  button,
  button:hover {
    text-decoration: none;
    transition: 0.5s all;
  }
  .text-center {
    text-align: center;
  }
  .clear {
    clear: both;
  }
  li {
    list-style: none;
  }
  
  .title-main h3 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    position: relative;
  }
  
  .title-main h3::before {
    content: "";
    background: var(--font-color);
    width: 60px;
    height: 2px;
    position: absolute;
    right: 0;
    left: -20px;
    bottom: -8px;
    margin: 0 auto;
  }
  .title-main h3::after {
    content: "";
    background: var(--font-color);
    width: 60px;
    height: 2px;
    position: absolute;
    right: 0;
    left: 20px;
    bottom: -15px;
    margin: 0 auto;
  }
  .title-main h3 span {
    color: var(--secondary-color);
  }
  
  @media screen and (max-width: 480px) {
    .title-main h3 {
      font-size: 35px;
    }
  }
  @media screen and (max-width: 410px) {
    .title-main h3 {
      font-size: 30px;
    }
  }
  
  /*start change light and dark */
  
  /* light */
  :root {
    --theme-color: #e40000;
    --primary-color: #0d369f;
    --primary-light: #fcf1e7;
    --primary-dark: #ffc945;
    --secondary-color: #ff6e65;
    --font-color: #707070;
    --bg-color: #fff;
    --bg-color-2: #fff;
    --heading-color: #060606;
    --footer-color: #060e1f;
    --footer-cpy-color: #040a17;
    --border-radius: 30px;
    --border-radius-full: 15px;
    --border-color: transparent;
    --border-color-light: #eee;
    --iframe-filter: grayscale(0%);
    --bg-grey: #f9f9f9;
    --bg-light: #f8f9ff;
    --bg-dark-color: #fff;
    --quote-text-color: #1d2c4c;
    --placeholder-color-search: #6c757d;
    --bg-color-li: rgb(13 54 159 / 9%);
    --box-shadow-color: rgb(4 20 69 / 10%);
    --logo-color: #0d369f;
  }
  
  /* dark */
  .dark {
    --theme-color: #e40000;
    --primary-color: #4867b0;
    --primary-light: #ffc945;
    --secondary-color: #ff6e65;
    --primary-dark: #00070c;
    --font-color: #b7b7b7;
    --bg-color: #161c2d;
    --bg-color-2: transparent;
    --heading-color: #fdfffc;
    --footer-color: #0e0e0e;
    --footer-cpy-color: #060606;
    --border-color: rgba(255, 255, 255, 0.2);
    --border-color-light: rgba(255, 255, 255, 0.2);
    --iframe-filter: grayscale(100%);
    --bg-grey: #060e1f;
    --bg-light: #121725;
    --bg-dark-color: #27282b;
    --quote-text-color: #e6e6e6;
    --placeholder-color-search: #eee;
    --bg-color-li: rgb(168 176 195 / 11%);
    --box-shadow-color: hsla(222, 34%, 17%, 1);
    --logo-color: #fff;
  }
  
  /* hide and show light and dark buttons */
  #desktop-switchButton .fa-sun,
  #mobile-switchButton .fa-sun {
    display: none;
  }
  #desktop-switchButton .fa-moon,
  #mobile-switchButton .fa-moon {
    display: block;
  }
  .dark #desktop-switchButton .fa-sun,
  .dark #mobile-switchButton .fa-sun {
    display: block;
  }
  .dark #desktop-switchButton .fa-moon,
  .dark #mobile-switchButton .fa-moon {
    display: none;
  }
  
  /* align light and dark buttons (mobile and desktop) */
  .switchButton {
    margin-left: 10px;
    font-size: 25px;
    cursor: pointer;
  }
  .switchButton .fa-moon {
    color: var(--heading-color);
  }
  .switchButton .fa-sun {
    color: var(--primary-color);
  }
  .switchButton .fa-sun:hover {
    color: var(--secondary-color);
  }
  
  /*start color placeholder */
  ::-webkit-input-placeholder {
    /* Edge */
    color: var(--placeholder-color-search);
  }
  
  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--placeholder-color-search);
  }
  
  ::placeholder {
    color: var(--placeholder-color-search);
  }
  /*end color placeholder */
  
  /* HEADER */
  
  /* (1) header top */
  .header-top {
    background-color: var(--primary-color);
    padding: 14px 30px;
  }
  
  .header-top .header-left a,
  .header-top .header-right a {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    margin-right: 2em;
    text-decoration: none;
    transition: 0.5s all;
  }
  .header-top .header-left a:hover,
  .header-top .header-right a:hover {
    color: var(--secondary-color) !important;
  }
  
  .header-top .header-left a i {
    margin-right: 8px;
    font-size: 15px;
  }
  
  /* start desktop navigation bar */
  @media screen and (min-width: 992px) {
    #mobile-header {
      display: none;
    }
    #desktop-header {
      display: block;
    }
  
    nav.navStudios {
      height: 90px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0 31px;
      background-color: var(--bg-color);
      transition: all 0.5s ease 0s;
      z-index: 11;
    }
    nav.navStudios .logo {
      display: flex;
      align-items: center;
      font-size: 26px;
      font-weight: 600;
      color: var(--logo-color);
    }
    nav.navStudios .navbar-brand:hover {
      color: var(--secondary-color);
    }
  
    nav.navStudios .menu-nav {
      display: flex;
      align-items: center;
      list-style: none;
      margin-bottom: 0;
    }
    .menu-nav .nav-item {
      padding: 0 12px;
      position: relative;
    }
    .nav-item .nav-link {
      color: var(--heading-color);
      font-size: 16px;
      font-weight: 500;
      padding: 6px 0;
    }
    .nav-item .active {
      color: var(--secondary-color);
    }
    .nav-item .nav-link:hover {
      color: var(--secondary-color);
    }
  
    .nav-item .dropdown-toggle::after {
      display: none;
    }
    .nav-item .dropdown-menu {
      background: var(--bg-color);
      border: 1px solid var(--border-color);
      box-shadow: rgb(12 12 12 / 6%) 0px 1px 20px 0px;
      position: absolute;
      top: 40px !important;
      transform: translateX(-40px) !important;
    }
    .nav-item .dropdown-menu::before {
      content: "";
      width: 14px;
      height: 14px;
      background: var(--bg-color);
      display: block;
      border: 1px solid var(--border-color);
      border-right: none;
      border-bottom: none;
      transform: translateX(-50%) rotateZ(45deg);
      position: absolute;
      top: -7px;
      left: 49%;
      z-index: 1001;
    }
  
    .dropdown-menu .dropdown-item {
      font-size: 16px;
      color: var(--heading-color);
      font-weight: 600;
      text-transform: uppercase;
      padding: 5px 24px;
    }
  
    .dropdown-menu .dropdown-item:hover {
      color: var(--secondary-color);
      background: none;
    }
  
    /* form search */
    form.position-relative {
      position: relative;
      margin: 0 10px;
    }
    form.search-box input {
      border-radius: 30px;
      font-size: 15px;
      padding: 10px 35px 10px 14px;
      border: 2px solid #eee;
      background-color: transparent;
      outline: none;
      color: var(--heading-color);
    }
  
    form button.search-btn {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      color: var(--primary-color);
    }
    form button.search-btn:hover {
      color: var(--secondary-color);
    }
  
    /* NAV-STICKY ==> fixed navigation bar */
    nav.sticky {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      height: 70px;
      z-index: 11;
      box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
    }
  }
  /* end desktop navigation bar */
  
  /* start mobile navigation bar */
  @media screen and (max-width: 991.98px) {
    #desktop-header {
      display: none;
    }
    #mobile-header {
      display: block;
    }
    #mobile-header .header-top-mobile {
      width: 100%;
      height: 70px;
      background-color: var(--bg-color);
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      z-index: 11;
      overflow: hidden;
      box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
    }
  
    #mobile-header .header-top-mobile .logo {
      font-size: 26px;
      font-weight: 600;
      color: var(--logo-color);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    #mobile-header #mobile-switchButton {
      position: absolute;
      right: 70px;
      bottom: 50%;
      transform: translateY(50%);
    }
  
    /* open/close button => navigation button  */
    #mobile-header .mobile-toggle {
      width: 34px;
      height: 34px;
      background: var(--primary-color);
      border-radius: 5px;
      cursor: pointer;
      position: relative;
    }
    .mobile-toggle span {
      position: absolute;
      left: 4.5px;
      width: 25px;
      height: 5px;
      background: #fff;
      border-radius: 5px;
    }
  
    .mobile-toggle span:before,
    .mobile-toggle span:after {
      content: "";
      width: 100%;
      height: 100%;
      border-radius: 5px;
      background: #fff;
      position: absolute;
      left: 0;
    }
    
    /* time change button close */
    .mobile-toggle span,
    .mobile-toggle span:before,
    .mobile-toggle span:after {
      -o-transition: 0.15s;
      -moz-transition: 0.15s;
      -webkit-transition: 0.15s;
      transition: 0.15s;
    }
  
    /* Menu 1 */
    #mtog-1 span {
      top: 15px;
    }
    #mtog-1 span:before {
      top: -8px;
    }
    #mtog-1 span:after {
      top: 8px;
    }
    /* Menu 1 Active */
    #mtog-1.active span {
      background: transparent;
    }
    #mtog-1.active span:before {
      top: 0;
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    #mtog-1.active span:after {
      top: 0;
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    /* End of Menu 1 Icon */
  
    /* navigation list */
    #mobile-header #mobile-nav {
      position: absolute;
      top: 70px;
      width: 100%;
      background-color: var(--bg-color);
      position: fixed;
      z-index: 11;
    }
  
    #mobile-nav .menu-nav {
      display: none;
      padding: 20px;
      margin: 8px 15px;
      list-style-type: none;
      box-shadow: 0 6px 19px rgb(0 0 0 / 5%);
      border: 1px solid var(--border-color);
    }
    .menu-nav .nav-item {
      display: block;
      width: 100%;
      text-align: center;
      padding: 8px 0;
    }
    .nav-item .nav-link {
      display: block;
      padding: 2px 0;
      color: var(--heading-color);
      text-decoration: none;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 16px;
      line-height: normal;
      font-weight: 600;
      -webkit-font-smoothing: antialiased;
    }
  
    .nav-item .active {
      color: var(--secondary-color);
    }
    .nav-item .nav-link:hover {
      color: var(--secondary-color);
    }
  
    .nav-item .dropdown-toggle::after {
      display: none;
    }
  
    .nav-item .dropdown-menu {
      text-align: center;
      width: 180px !important;
      background: var(--bg-color);
      border: 1px solid var(--border-color);
      box-shadow: rgb(12 12 12 / 6%) 0px 1px 20px 0px;
      float: none !important;
      position: static !important;
      transform: none !important;
      margin: 0 auto !important;
      margin-top: 10px !important;
    }
  
    .nav-item .dropdown-menu::before {
      content: "";
      width: 14px;
      height: 14px;
      background: var(--bg-color);
      display: block;
      border: 1px solid var(--border-color);
      border-right: none;
      border-bottom: none;
      transform: translateX(-50%) rotateZ(45deg);
      position: absolute;
      top: -7px;
      left: 49%;
      z-index: 1001;
    }
  
    .dropdown-menu .dropdown-item {
      font-size: 16px;
      color: var(--heading-color);
      font-weight: 600;
      text-transform: uppercase;
      padding: 5px 24px;
    }
  
    .dropdown-menu .dropdown-item:hover {
      color: var(--secondary-color);
      background: none;
    }
  
    /* form search */
    form.position-relative {
      position: relative;
      width: 230px;
      margin: auto;
    }
    form.search-box input {
      border-radius: 30px;
      font-size: 15px;
      padding: 10px 35px 10px 14px;
      border: 2px solid #eee;
      background-color: transparent;
      margin-right: 0 !important;
    }
    form button.search-btn {
      padding: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 20px;
      color: var(--primary-color);
    }
    form button.search-btn:hover {
      color: var(--secondary-color);
    }
  }
  /* end mobile navigation bar */
  
  /* START CAROUSEL */
  .owl-carousel {
    overflow: hidden;
  }
  .owl-item1 {
    background-image: url(../img/banner2.jpg);
    background-position: top right;
  }
  .owl-item2 {
    background-image: url(../img/banner3.jpg);
    background-position: center right;
  }
  .owl-main {
    position: relative;
    z-index: 0;
    min-height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    align-items: center;
  }
  .owl-main h5 {
    font-size: 70px;
    line-height: 80px;
    font-weight: bold;
    color: #fff;
    font-family: "Montserrat", sans-serif;
  }
  .owl-main button {
    margin-top: 48px;
    padding: 14px 30px;
    font-weight: 600;
    font-size: 16px;
    color: #060606;
    border-radius: 4px;
    background: #fff;
    border: none;
    transition: all 0.25s ease-in-out;
  }
  .owl-main button:hover {
    background-color: var(--secondary-color);
    color: #fff;
    transition: 0.3s ease-out;
  }
  .owl-content {
    max-width: 600px;
  }
  
  .owl-theme .owl-nav.disabled + .owl-dots {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
  .owl-dots {
    position: absolute;
    right: 24px;
    bottom: 120px;
  }
  
  .owl-theme .owl-dots .owl-dot span {
    width: 12px;
    height: 12px;
    margin: 5px 2px;
    background: #fff;
    position: relative;
  }
  
  .owl-theme .owl-dots .owl-dot.active span,
  .owl-theme .owl-dots .owl-dot:hover span {
    background: var(--secondary-color);
  }
  
  /* RESPONSIVE CAROUSEL */
  @media screen and (min-width: 1280px) {
    .container {
      max-width: 1200px;
    }
  }
  @media screen and (max-width: 1200px) {
    /* CAROUSEL */
    .owl-main h5 {
      font-size: 57px;
      line-height: 67px;
    }
  }
  @media screen and (max-width: 992px) {
    /* CAROUSEL */
    .owl-main h5 {
      font-size: 50px;
      line-height: 60px;
    }
  }
  @media screen and (max-width: 768px) {
    /* CAROUSEL */
    .owl-main h5 {
      font-size: 45px;
      line-height: 55px;
    }
  }
  
  @media screen and (max-width: 575.98px) {
    /* CAROUSEL */
    .owl-main button {
      margin-top: 1.5rem;
    }
  }
  
  @media screen and (max-width: 415px) {
    /* CAROUSEL */
    .owl-main h5 {
      font-size: 40px;
      line-height: 50px;
    }
  }
  @media screen and (max-width: 366px) {
    /* CAROUSEL */
    .owl-main h5 {
      font-size: 38px;
      line-height: 48px;
    }
  }
  /* END CAROUSEL */
  
  /* START CATEGORY */
  .category {
    position: relative;
    margin-top: -4em;
    z-index: 10;
  }
  
  .category .area-box {
    padding: 50px 35px;
    border-radius: 8px;
    z-index: 1;
  }
  .category .area-box.color-1 {
    background-color: #037ef3;
  }
  .category .area-box.color-2 {
    background-color: #ffc949;
  }
  .category .area-box.color-3 {
    background-color: #ff4f81;
  }
  .category .area-box.color-4 {
    background-color: #1ee697;
  }
  .category .area-box i {
    font-size: 45px;
    color: #fff;
  }
  
  /* transform: skewX(-10deg); */
  .category .area-box.color-2 .fa-book {
    transform: skewX(-20deg);
  }
  .category .area-box h4 a.title-head {
    margin-top: 25px;
    display: block;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
  }
  .category .area-box h4 a.title-head:hover {
    color: #000;
  }
  
  /* RESPONSIVE CATEGORY */
  @media screen and (max-width: 1199.98px) {
    /* CATEGORY */
    .category .area-box h4 a.title-head {
      font-size: 20px;
      margin-top: 20px;
    }
  }
  
  @media screen and (max-width: 991.98px) {
    /* CATEGORY */
    .category .area-box h4 a.title-head {
      font-size: 25px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 992px) {
    /* CATEGORY */
    .category .area-box h4 a.down-line {
      word-spacing: 28px;
    }
  }
  @media screen and (max-width: 430px) {
    /* CATEGORY */
    .category .area-box h4 a.title-head {
      font-size: 23px;
    }
  }
  
  @media screen and (max-width: 415px) {
    /* CATEGORY */
    .category .area-box {
      padding: 40px 19px;
    }
    .category .area-box h4 a.title-head {
      font-size: 19px;
    }
  }
  
  @media screen and (max-width: 300px) {
    .category .area-box {
      padding: 40px 16px;
    }
  }
  /* END CATEGORY */
  
  /* START WELCOME */
  .welcome .welcome-feature {
    padding: 0;
  }
  .welcome .title-main {
    padding-bottom: 1.5rem;
    margin-bottom: 3rem;
  }
  
  .welcome-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
  }
  
  .welcome-item span {
    color: var(--primary-color);
    font-size: 30px;
    background: var(--bg-color-li);
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
  }
  .welcome-item p {
    font-size: 16px;
    line-height: 28px;
    color: var(--font-color);
    letter-spacing: 0.4px;
    margin-top: 15px;
    margin-bottom: 0;
  }
  .welcome-item a {
    margin-top: 1.5rem;
  }
  
  .welcome .welcome-item h3 {
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
  }
  
  .welcome .welcome-item h3:hover {
    color: var(--secondary-color);
  }
  
  /* RESPONSIVE WELCOME */
  @media screen and (max-width: 575.98px) {
    /* WELCOME */
    .welcome-list .welcome-item:nth-child(2),
    .welcome-list .welcome-item:nth-child(3) {
      margin-top: 3rem;
    }
    .welcome .title-main {
      padding-bottom: 0;
    }
  }
  /* END WELCOME */
  
  /* START COURSE */
  .course{
    background: var(--bg-light);
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    
  }
  .content-top li i {
    color: var(--secondary-color);
  }
  .course-item{
    position: relative;
  }
  .course-list{
    position: absolute;
    top: 15px;
    left: 30px;
  }
  .course-card:hover{
    box-shadow: 0px 15px 30px rgb(29 23 77 / 8%);
  }
  .course-list a {
    background: #1DC295;
    display: inline-block;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 600;
    padding: 4px 10px;
    color: #FFFFFF !important;
    text-transform: capitalize;
    display: inline-block;
    margin-right: 5px;
  }
  .course-list a:nth-child(odd) {
    background-color: #FFA100;
  }
  .course-list a:nth-child(3) {
    background: #037ef3;
  }
  .course-price {
    position: absolute;
    right: 25px;
    bottom: -15px;
  }
  .course-price h6 {
    border-radius: 100px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background: var(--secondary-color);
    color: #FFFFFF;
    box-shadow: 0px 8px 20px rgb(241 77 93 / 20%);
    min-width: 70px;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .course-card .course-content{
    padding: 20px;
    border: 1px solid var(--border-color-light);
    border-top: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background: var(--bg-color-2);
  }
  .course-card .course-item img{
    display: block;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .content-bottom{
    border-top: 1px solid var(--border-color-light);
  }
  ul.start-list li{
    display: inline-block;
    list-style: none;
  }
  ul.start-list li a {
    color: #ffc949;
    font-size: 15px;
  }
  .start-list{
    margin-top: 18px;
  }
  .content-bottom .btn {
    color: var(--secondary-color);
    padding: 0;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
  }
  .content-bottom .btn:hover {
    color: var(--primary-color);
    background: transparent;
  }
  .course .course-btn{
    color: #fff;
    transition: 0.3s;
    padding: 14px 30px;
    margin: 60px auto 0 auto;
    background: var(--secondary-color);
    font-weight: 600;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    text-align: center;
    
  }
  .course .course-btn:hover{
    background: var(--primary-color);
    color: #fff;
    transition: 0.3s;
  }
  .course-item.course-list a{
    color: var(--font-color);
    text-decoration: none;
    background-color: transparent;
  }
  .course-content h4 a {
    color: var(--heading-color);
    font-size: 22px;
    margin-bottom: 10px;
    display: block;
    font-weight: 600;
    text-decoration: none;
  }
  .course-content h4 a:hover {
    color: var(--secondary-color);
  }
  
  /* RESPONSIVE COURSE */
  @media (max-width: 480px){
    /* COURSE */
    h3.title-main {
        font-size: 35px;
        line-height: 45px;
  }}
  @media (max-width: 280px){
    /* COURSE */
    .course .course-btn{
      padding: 14px 20px;
    }
  }
  
  /* END COURSE */
  
/* START SERVICES */
.services {
  background-image: url(../img/bg3.jpg);
  height: auto;
  background-size: cover;
  background-position: bottom;
}
.services-item, .services-cards{
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.services .feature-gd {
  background: var(--bg-color);
  padding: 30px;
  border-radius: 8px;
}
.services .icon {
  margin-right: 1em;
}
.services .icon i {
  background: var(--primary-color);
  color: var(--primary-color);
  font-size: 28px;
  background: rgb(13 54 159 / 9%);
  width: 65px;
  height: 66px;
  line-height: 65px;
  border-radius: 50%;
  text-align: center;
}
.services .row h5 {
  font-size: 20px;
  line-height: 30px;
  color: var(--heading-color);
  font-weight: 600;
  margin-bottom: 6px;
}
/* END SERVICES */

/* START NUMBERS */
.numbers{
  height: auto;
}
.container-counter {
  border-right: 1px solid var(--border-color-light);
}
.numbers .number-counter .timer {
  font-size: 46px;
  font-weight: 600;
  color: var(--heading-color);
}
.number-counter .count-text {
  text-transform: uppercase;
  color: var(--heading-color) !important;
 
}
/* RESPONSIVE NUMBER */
@media (max-width: 991.98px) {
  /* NUMBERS */
  .container-counter {
    border-right: none;
  }
  .numbers .number-counter .timer {
    font-size: 35px;
  }
}
/* END NUMBERS */

/*START FEEDBACK */
.content-item {
  padding: 0 15px;
  border-radius: 4px;
}
.item-description {
  padding: 32px;
  box-shadow: 0 20px 62px var(--box-shadow-color) !important;
  border-radius: 4px;
}
.item-description q::before {
  font-size: 50px;
  font-family: initial;
  display: inline-block;
  color: var(--secondary-color);
  line-height: 0.8;
  padding-top: 8px;
  padding-right: 5px;
}
.content-detail {
  margin-top: 24px;
  display: flex;
  align-items: center;
}
.content-detail .content-img img {
  border-radius: 50%;
  margin-right: 15px;
}
.content-detail .content-text h5 {
  font-weight: 600;
  line-height: 16px;
}
.content-detail .content-text p {
  font-size: 13px;
  color: var(--font-color);
}
/* RESPONSIVE FEEDBACK */
@media screen and (max-width: 319.98px) {
  /* FEEDBACK */
  .content-detail .content-text h5 {
    font-size: 1rem;
  }
}
/*END FEEDBACK */

/* INSTRUCTOR */
.instructor-item {
  padding: 0 15px;
}
.instructor-description {
  padding: 10px;
  box-shadow: 0 20px 62px var(--box-shadow-color);
  border-radius: 8px;
}
.instructor-contact {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.instructor-contact img {
  border-radius: 8px 8px 0 0;
  width: 100%;
}
.overlay-instructor {
  position: absolute;
  bottom: -100%;
  width: 100%;
  background: rgb(8 8 8 / 29%);
  display: flex;
  justify-content: center;
  padding: 20px 0;
  transition: 0.5s;
}
.instructor-description:hover .overlay-instructor {
  bottom: 0;
}

.overlay-instructor a {
  background: #fff;
  width: 28px;
  height: 28px;
  display: inline-block;
  border-radius: 50%;
  line-height: 28px;
  color: var(--primary-color);
  font-size: 14px;
  transition: all 0.2s;
}
.overlay-instructor a:hover {
  opacity: 0.8;
}
.instructor-info h5.member a {
  font-weight: 600;
  color: var(--heading-color);
}

.instructor-description:hover .instructor-info h5.member a {
  color: var(--secondary-color);
}

/* CONTACT US */
.contact-main {
  display: flex;
  align-items: center;
}
.contact-img {
  padding: 0 15px;
}
.contact-content {
  padding: 0 15px;
}
.contact-content h3.style-title {
  font-size: 35px;
  font-weight: 600;
  line-height: 45px;
}
.contact-content a.btn-style {
  background: var(--secondary-color);
  color: #fff;
  transition: 0.3s ease-out;
  padding: 14px 30px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 4px;
}
.contact-content a.btn-style:hover {
  background: var(--primary-color);
  color: #fff;
}
.contact-content a.btn:focus {
  box-shadow: none !important;
}
/* RESPONSIVE CONTACT */
@media screen and (max-width: 560px) {
  /* CONTACT */
  .contact-content h3.style-title {
    font-size: 30px;
    line-height: 40px;
  }
}

/* START FOOTER */
.footer-content{
  height: auto; 
  padding: 40px 0;
  background: #060e1f;
}
.community{
    padding: 50px;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 10px;
    background: var(--bg-color);
    position: absolute;
    left: 0;
    right: 0;
    top: -60px;
    box-shadow: 0px -1px 41px 0px rgb(21 22 23 / 8%);
}
.community h4.title-community{
  font-size: 35px;
    line-height: 40px;
    color: var(--heading-color);
    font-weight: 600;
}
.community .title-community p{
  font-size: 15px;
    color: var(--font-color);
    letter-spacing: 1px;
}
.community .email form{
  display: flex;
}
.community .email form input{
  background: transparent;
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    color: var(--heading-color);
    width: 100%;
    border-radius: 8px 0px 0px 8px;
    height: 55px;
    border: 1px solid var(--border-color-light);
}
.community .email form .btn{
  background: var(--primary-color);
  border: none;
  color: #fff;
  padding: 16px 30px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 4px 8px 8px 4px;
}
.community .email form .btn:hover { 
  opacity: 0.9;
}
.course-card.course-content h4, .community.container-community h4{
  margin: 0;
  padding: 0;
  color: var(--heading-color); 
}
.sub-columns{
  margin-top: 220px;
}
.footer-content .sub-columns h5{
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(23, 54, 88, 0.4);
    padding-bottom: 10px;
    font-weight: bold;
}
.sub-columns ul li a {
  font-size: 14px;
  line-height: 30px;
  color: #cecece;
  margin: 0 0 10px 0;
  display: block;
  text-decoration: none;
}
.sub-columns .sub-3 span {
  font-size: 18px;
  color: #fff;
  vertical-align: middle;
  margin-right: 10px;
  width: 25px;
  text-align: center;
}
.sub-columns .sub-3 a {
  text-decoration: none;
  color: #cecece;
  line-height: 25px;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
}
.sub-columns ul li a:hover{
  color: #fff;
}
.sub-columns .sub-3 a:hover{
  color: #fff;
}
.sub-columns .phone-contact {
  margin: 10px 0;
  padding: 10px 0;
}
.sub-columns .sub-3 p, .sub-columns .sub-4 p {
  font-size: 14px;
  line-height: 24px;
  color: #cecece;
}
.sub-columns .sub-4{
  border-left: 1px solid rgb(64 73 82 / 51%);
}
.sub-columns .sub-4 .item-social{
  margin-top: 1.2em;
}
.sub-columns ul.social-icon li{
  display: inline-block;
  margin-right: 10px;
}
.sub-columns ul.social-icon li a {
  color: #fff;
  width: 35px;
  height: 35px;
  background: rgba(255, 255, 255, 0.06);
  display: inline-block;
  border-radius: 50%;
  text-align: center;
}
.sub-columns ul.social-icon li a i{
  font-size: 15px;
  line-height: 35px;
}

/* start Copyright */
footer .copyright-footer {
  background: #040a17;
  padding: 20px 0;
  line-height: 20px;
}
footer .copyright-footer p{
  font-size: 15px;
    color: #a0a0a0;
}
/* RESPONSIVE FOOTER */
@media (max-width: 991px){
  /* FOOTER */
  .community {
      margin: 0 2em;
}}
@media (max-width: 991px){
  /* FOOTER */
  .sub-4 {
      border-left: none !important;
} }   
@media (max-width: 768px){
  /* FOOTER */
  .community {
      top: -78px;
}}
@media (max-width: 736px){
  /* FOOTER */
  .community {
     margin: 0 1em;
}}
@media (max-width: 736px){
.footer-content {
  /* FOOTER */
    padding: 20px 0;
}}
@media (min-width: 576px){
  /* FOOTER */
  .sub-columns.sub-1 {
     flex: 0 0 50%;
     max-width: 50%;
}}
@media (max-width: 576px){
  /* FOOTER */
  .sub-columns.sub-3{
      margin-bottom: 10px !important;
  }}

@media (max-width: 480px){
  /* FOOTER */
.community h4.title-community {
  font-size: 30px;
}}
@media (max-width: 440px){
  /* FOOTER */
.community h4.title-community {
  margin-bottom: 10px;
}
.community .email form input{
  border-radius: 8px;
}
}

@media (max-width: 440px){
  /* FOOTER */
  .community {
      padding: 20px;
}}
@media (max-width: 440px){
  /* FOOTER */
  .community .email form {
  flex-wrap: wrap;
}}
@media (max-width: 440px){
  /* FOOTER */
.community .email form .btn {
  padding: 15px 30px;
  border-radius: 4px;
}}

@media (max-width: 440px){
  /* FOOTER */
.community .email form .btn {
  width: 100%;
  margin-top: 1em;
}}
@media screen and (max-width: 736.98px){
  /* FOOTER */
  .footer-content .sub-columns{
    margin-top: 250px;
   
  }
}
@media screen and (max-width: 519.98px){
  /* FOOTER */
  .footer-content .sub-columns{
    margin-top: 290px;
   
  }
}
@media (max-width: 360px){
  /* FOOTER */
.footer-content .sub-columns {
  margin-top: 350px;
}}


/* Up to the top */
.backTotop {
  background-image: url(../img/backtop.png);
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--primary-color);
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 8px;
  display: block;
  position: fixed;
  right: 15px;
  bottom: 15px;
  visibility: hidden;
  opacity: 0;
  transform: rotate(90deg);
  z-index: 11;
}
.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}
